/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-grey);
}

app {
/*    position: relative;
    display: flex;
    flex-direction: column;*/
}

:root {
    --purple-main: #7764CA;
    --purple-off: #767390;
    --purple-grey: #818FAE;
    --dark-grey: #F2F5FB;
    --white: rgb(255, 255, 255);
    --off-white: rgb(248, 249, 252);
    --dark-orange: #FF9F00;
    --transparent-orange: rgb(255, 159, 0, .23);
    --mont-font: Montserrat, Sans-Serif;
    --secondary-font: Karla, Sans-Serif;
    --transparent-white: rgb(255, 255, 255, .7);
    --backgroundblur: rgb(138, 138, 138, .5);
    --panelbackgroundcolor: #F1F5FB;
}

::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--dark-grey);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--purple-main);
    border-radius: 25px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(119, 100, 202, 0.70);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.logobody {
    margin: 0;
    padding: 0;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: var(--purple-main);
    height: 100vh;
}

.SplashLogo {
    width: 600px;
}

.maincontainer {
    display: grid;
    grid-template-areas: "menu-bar" "panel-list";
}
.navheader {
    position: fixed;
    grid-template: "menu-bar";
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: var(--purple-main);
    box-shadow: 0px 3px 6px rgb(119, 100, 202, .75);
    display: grid;
    grid-template-columns: fit-content(200px) auto fit-content(50px);
    align-content: center;
    padding: 0 10px 0 10px;
}
.logo {
    width: 175px;
    margin-right: 40px;
    align-self: center;
}
.menu_title_menu_container {
    display: grid;
    grid-template-rows: auto auto;
}
.script_title_input {
    font-family: var(--mont-font);
    font-size: 26px;
    font-weight: bold;
    background: none;
    color: var(--white);
    border: none;
    width: 90%;
    margin-top: 20px;
}
.script_title_input:focus {
    background: transparent;
    color: var(--white);
    outline: none;
}
.script_title_input::selection {
    background: var(--purple-grey);
}
.playscript_btn {
    width: 75px;
    align-self: center;
    height: 60px;
    margin-right: 25px;
    background: none;
    border: none;
}
.playscript_btn:focus {
    background: none;
    border: none;
    outline: none;
}
.playscript_btn:hover {
    background: #8474C8;
    border: none;
    outline: none;
}
.playscript_btn:active {
    background: #8878CE;
    border: none;
    outline: none;
}
.menu {
    margin-top: 0px;
}
.menu-ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    margin-left: -10px;
}
.menu-li {
    display: inline;
}
.menu-li .dropdownfile {
    display: inline-block;
}
.menu-li button {
    font-family: var(--secondary-font);
    font-size: 18px;
    color: rgb(255, 255, 255, .7);
    background: none;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.menu-li button:hover {
    color: var(--purple-grey);
    background: var(--off-white);
    border: none;
    outline: none;
}
.menu-li button:active {
    color: var(--purple-grey);
    background: rgb(248, 249, 252, .8);
    border: none;
    outline: none;
}
.menu-li button:focus {
    border: none;
    outline: none;
}
.submenu-ul {
    list-style-type: none;
    padding-left: 0;
    background-color: var(--off-white);
    position: absolute;
    box-shadow: 0px 3px 6px rgb(0, 0, 0, .20);
    display: none;
}
.submenu-li {
    margin-left: 0px;
}
.submenu-li button {
    display: grid;
    width: 100%;
    grid-template-columns: 25px 1fr;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    background: var(--off-white);
    border: none;
    padding: 5px 15px 5px 10px;
    position: relative;
}
.custom-file-upload {
    display: grid;
    width: 90px;
    grid-template-columns: 25px 1fr;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    background: var(--off-white);
    border: none;
    padding: 5px 15px 5px 10px;
    position: relative;
}
.submenu-li button:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--dark-orange);
}
.custom-file-upload:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--dark-orange);
}
.submenu-li button:hover {
    background: var(--transparent-orange);
}
.custom-file-upload:hover {
    background: var(--transparent-orange);
}
.submenu-li button:active {
    background-color: var(--dark-orange);
}
.custom-file-upload:active {
    background-color: var(--dark-orange);
}
.submenu-li button svg {
    align-self: center;
    justify-self: center;
    height: 18px;
}
.custom-file-upload svg {
    align-self: center;
    justify-self: center;
    height: 18px;
}
.submenu-li button span {
    margin-left: 5px;
    justify-self: left;
}
.custom-file-upload span {
    margin-left: 5px;
    justify-self: left;
}

.dropdownfile:hover .submenu-ul {
    display: block;
}
.dropdownfile:hover .filebtn {
    background-color: var(--off-white);
    color: var(--purple-grey);
}
.newpanelbutton {
    position: fixed;
    left: 15px;
    bottom: 15px;
    background-color: var(--white);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 5px 5px 6px rgb(0, 0, 0, .4);
    outline: none;
    border: none;
    transition: all .1s ease-in-out;
}
.newpanelbutton:hover {
    transform: scale(1.1);
    border: solid 2px var(--purple-main);
}
.newpanelbutton:active {
    transform: scale(.9);
}
.main-content {
    grid-template: "panel-list";
    display: grid;
    grid-template-rows: repeat(145px, 145px);
    row-gap: 20px;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 20px;
}

.scriptpanelitem {
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--white);
    border-radius: 15px;
    padding: 10px;
    height: 145px;
    display: grid;
    grid-template-columns: 1fr 50px;
    transition: all .1s ease-in-out;
    column-gap: 20px;
}
.scriptpanelitem:hover {
    transform: scale(1.006);
}
.clickablescriptportion {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 20px;
}
.scriptstuff {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 30px 115px;
}
.scripttitle {
    font-family: var(--mont-font);
    font-size: 22px;
    font-weight: bold;
    color: var(--purple-off);
    grid-row: 1/2;
    overflow: hidden;
}
.scripttitle::selection {
    background: var(--purple-grey);
}
.scripttext {
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    grid-row: 2/3;
    overflow: hidden;
}
.datacollectionstuff {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 30px 115px;
}
.datacollectiontitle {
    font-family: var(--mont-font);
    font-size: 22px;
    font-weight: bold;
    color: var(--purple-off);
    grid-row: 1/2;
    display: grid;
    grid-template-columns: fit-content(200px) 1fr;
}
.errtooltip {
    grid-column: 2/3;
    display: inline-block;
    position: relative;
}
.errtooltipdos {
    display: inline-block;
    position: relative;
}
.errtooltip .tooltiptext {
    background-color: var(--purple-main);
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    color: #fff;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 25px;
}
.errtooltip:hover .tooltiptext {
    visibility: visible;
}
.errtooltipdos .tooltiptext {
    background-color: var(--purple-main);
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    color: #fff;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: -80px;
}

.errtooltipdos:hover .tooltiptext {
    visibility: visible;
}

.datacollectiontext {
   font-family: var(--secondary-font);
   font-size: 16px;
   color: var(--purple-grey);
   grid-row: 2/3;
   overflow: hidden;
}
.navigationstuff {
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 30px 115px;
}
.navigationtitle {
    font-family: var(--mont-font);
    font-size: 22px;
    font-weight: bold;
    color: var(--purple-off);
    grid-row: 1/2;
    display: grid;
    grid-template-columns: fit-content(200px) 1fr;
}
.navigationtext {
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    grid-row: 2/3;
    overflow: hidden;
}
.buttonstuff {
    grid-column: 4/5;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.trashpanelbutton {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
}
.trashpanelbutton:hover {
    background-color: #EBF0F5;
}
.trashpanelbutton:active {
    background-color: #9ca9b3;
}
.modalbackground {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--backgroundblur);
}
.modal-callresults {
    margin: auto;
    display: grid;
    width: 800px;
    height: 750px;
    margin-top: 120px;
    grid-template-columns: 75px 1fr;
}
.closepaneleditorbtn {
    border-radius: 50%;
    background-color: white;
    border: none;
    height: 65px;
    width: 65px;
    outline: none;
    transition: all .1s ease-in-out;
}
.closepaneleditorbtn:hover {
    border: solid 2px var(--purple-main);
}
.closepaneleditorbtn:active {
    transform: scale(.85);
}
.callresults-editor {
    background-color: var(--panelbackgroundcolor);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-rows: 30px 1px 1fr;
    overflow-y: auto;
}
.panel-edit-title {
    font-family: var(--mont-font);
    font-size: 22px;
    font-weight: bold;
    color: var(--purple-off);
}
.panel-edit-divider {
    background-color: rgb(119, 100, 202, .2);
    width: 100%;
}
.results-section {
    grid-row: 3/4;
}
.results-table {
    width: 100%;
}
.results-header-row {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 20px;
    color: var(--purple-grey);
}
.result-abr-column {
    width: 13%;
}
.result-desc-column {
    width: 56%;
}
.resultalwayssel-column {
    width: 26%;
}
.resultremove-column {
    width: 5%;
}
.result_inputtext {
    width: 100%;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    border: none;
    background-color: transparent;
    padding: 5px;
    outline: none;
}
.result_inputtext:focus {
    background-color: var(--white);
    outline: 2px solid rgb(119, 100, 202, .3);
}
.resultcell-pr {
    padding-right: 10px;
}
.customresultcheckbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.customresultcheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.customresultcheckmark {
    position: absolute;
    top: -17px;
    left: 5px;
    height: 20px;
    width: 20px;
    background-color: none;
    border: 2px solid var(--purple-off);
}
.customresultcheckbox input:checked ~ .customresultcheckmark {
    background-color: none;
}
.customresultcheckmark:after {
    content: "";
    position: absolute;
    display: none;
}
.customresultcheckbox input:checked ~ .customresultcheckmark:after {
    display: block;
}
.customresultcheckbox .customresultcheckmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--purple-off);
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.newresultlabel {
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    outline: none;
    background: transparent;
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: bold;
    color: var(--purple-grey);
    padding: 5px 15px;
}
.newresultlabel:hover {
    background: var(--transparent-orange);
}
.newresultlabel:active {
    background: var(--dark-orange);
}
.result-remove-btn {
    border: none;
    background: transparent;
    border-radius: 50px;
    outline: none;
    padding: 5px 8px 7px 8px;
}
.result-remove-btn:hover {
    background-color: var(--transparent-orange);
}
.result-remove-btn:active {
    background-color: var(--dark-orange);
}
.merge-abr-column {
    width: 30%;
}
.merge-desc-column {
    width: 65%;
}
.mergeremove-column {
    width: 5%;
}
.modal-content {
    margin: auto;
    display: grid;
    width: 1600px;
    height: 750px;
    margin-top: 120px;
    grid-template-columns: 75px 1fr;
}
.panel-editor {
    background-color: var(--panelbackgroundcolor);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-rows: 30px 1px 275px 1fr;
}
.panel-edit-title {
    font-family: var(--mont-font);
    font-size: 22px;
    font-weight: bold;
    color: var(--purple-off);
    background: none;
    outline: none;
    border:none;
}
.panel-edit-title::selection {
    background: var(--purple-grey);
}
.control-section {
    margin-top: 10px;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
}
.nextsectiontitles {
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.datacollectionsection {
    font-family: var(--mont-font);
    font-size: 22px;
    font-weight: bold;
    color: var(--purple-off);
}
.customcheckbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 35px;
}
.customcheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.customcheckmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: none;
    border: 2px solid var(--purple-off);
}
.customcheckbox input:checked ~ .customcheckmark {
    background-color: none;
}
.customcheckmark:after {
    content: "";
    position: absolute;
    display: none;
}
.customcheckbox input:checked ~ .customcheckmark:after {
    display: block;
}
.customcheckbox .customcheckmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--purple-off);
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.fieldtypevariablename {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    font-size: 22px;
    font-family: var(--secondary-font);
    font-weight: bold;
    color: var(--purple-grey);
}
.fieldtypeinputs {
    margin-top: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
}
.variablenameinput {
    padding: 5px;
    border: none;
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--purple-grey);
    text-overflow: ellipsis;
}
.variablenameinput:focus {
    outline: 2px solid rgb(119, 100, 202, .3);
}
.variablenameinput:disabled {
    background-color:#d3d3d4
}
.fieldtypeoption {
    display: block;
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--purple-grey);
    padding: 5px;
    width: 100%;
    max-width: 100%;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}
.fieldtypeoption:hover {
    background-color: var(--transparent-orange);
    outline: 1px solid rgb(119, 100, 202, .3);
}
.fieldtypeoption:hover:disabled {
    background-color: #d3d3d4;
    outline:none;
}
.fieldtypeoption:disabled {
    background-color: #d3d3d4;
}
.optionbox {
    position: relative;
}
.select-icon {
    position: absolute;
    right: 5px;
    top: 3px;
}
.customcheckbox-alt {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 35px;
    font-family: var(--secondary-font);
    color: var(--purple-grey);
    margin-top: 10px;
}
.customcheckbox-alt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.customcheckmark-alt {
    position: absolute;
    top: 0;
    right: 0;
    height: 18px;
    width: 18px;
    background-color: none;
    border: 2px solid var(--purple-grey);
}
.customcheckbox-alt input:disabled ~ .customcheckmark-alt {
    background-color: #d3d3d4;
}
.customcheckbox-alt input:checked ~ .customcheckmark-alt {
    background-color: none;
}
.customcheckmark-alt:after {
    content: "";
    position: absolute;
    display: none;
}
.customcheckbox-alt input:checked ~ .customcheckmark-alt:after {
    display: block;
}
.customcheckbox-alt .customcheckmark-alt:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--purple-grey);
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.choices-edit-text {
    margin-top: 5px;
    height: 225px;
    width: 716px;
    border: none;
    padding: 5px;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    resize: none;
}
.choices-edit-text:focus {
    outline: 2px solid rgb(119, 100, 202, .3);
}
.choices-edit-text:disabled {
    background-color: #d3d3d4
}
.navigationsection {
    display: inline-block;
}
.navheadercontainer {
    display: grid;
    grid-template-columns: 49% 15% 30% 6%;
    margin-top: 10px;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    font-weight: bold;
}
.actionheader {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}
.resultskipheader {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: center;
}
.nav-item-container {
    display: grid;
    margin-top: 5px;
    grid-auto-rows: 40px;
    row-gap: 10px;
    overflow-y: auto;
    height: 346px;
}
.navitem {
    display: grid;
    grid-template-columns: 49% 15% 30% 6%;
    background-color: var(--white);
}
.navlabel {
    background-color: none;
    border: none;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    padding: 5px;
    outline: none;
    margin: 3px 5px 3px 3px;
/*    margin-right: 5px;*/
    text-overflow: ellipsis;
}
.navlabel:focus {
    outline: 2px solid rgb(119, 100, 202, .3);
}
.navaction-dropdown {
/*    position: relative;*/
    display: grid;
    margin: 5px 5px 5px 5px;
}
.navaction-btn {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
}
.navaction-submenu {
    position: absolute;
    list-style: none;
    padding-left: 0px;
    padding-top: 10px;
    top: 14px;
    background-color: var(--off-white);
    width: 141px;
    box-shadow: 3px 3px 6px rgb(0, 0, 0, .20);
    display: none;
    z-index: 1;
}
.navaction-dropdown:hover .navaction-submenu {
    display: block;
}
.navaction-dropdown:hover .navaction-btn {
    background-color: var(--off-white);
}
.navaction-submenu-item button {
    padding: 5px 10px 5px 10px;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
}
.navaction-submenu-item button:hover {
    background: var(--transparent-orange);
}
.navaction-submenu-item button:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--dark-orange);
}
.navaction-submenu-item button:active {
    background: var(--dark-orange);
}
.result-dropdown {
    /*position: relative;*/
    display: grid;
    margin: 5px 5px 5px 5px;
}
.result-btn {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    height: 30px;
    overflow-y: hidden;
}
.calllist-submenu {
    position: absolute;
    list-style: none;
    padding-left: 0px;
    padding-top: 10px;
    top: 14px;
    background-color: var(--off-white);
    width: 157px;
    box-shadow: 3px 3px 6px rgb(0, 0, 0, .20);
    display: none;
    z-index: 1;
}
.result-dropdown:hover .calllist-submenu {
    display: block;
}
.result-dropdown:hover .result-btn {
    background-color: var(--off-white);
}
.calllist-submenu-item button {
    padding: 5px 10px 5px 28px;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
}
.calllist-submenu-item button:hover {
    background: var(--transparent-orange);
}
.calllist-submenu-item button:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--dark-orange);
}
.calllist-submenu-item button:active {
    background: var(--dark-orange);
}
.resultcheckbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px 10px 5px 35px;
    width: calc(100% - 45px);
    text-overflow: ellipsis;
}
.resultcheckbox:hover {
    background-color: var(--transparent-orange);
}
.resultcheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.resultheckmark {
    position: absolute;
    top: 6px;
    left: 10px;
    height: 15px;
    width: 15px;
    background-color: none;
    border: 1px solid var(--purple-grey);
}
.resultcheckbox input:checked ~ .resultheckmark {
    background-color: none;
}
.resultheckmark:after {
    content: "";
    position: absolute;
    display: none;
}
.resultcheckbox input:checked ~ .resultheckmark:after {
    display: block;
}
.resultcheckbox .resultheckmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid var(--purple-grey);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.newnavigationlabel {
    border: none;
    outline: none;
    background: transparent;
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: bold;
    color: var(--purple-grey);
    padding: 5px 15px;
    justify-self:left;
    align-self:start;
}
.newnavigationlabel:hover {
    background: var(--transparent-orange);
}
.newnavigationlabel:active {
    background: var(--dark-orange);
}
.skip-dropdown {
    /*position: relative;*/
    display: grid;
    margin: 5px 5px 5px 5px;
}
.skip-btn {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    height: 30px;
    overflow-y: hidden;
}
.skip-submenu {
    position: absolute;
    list-style: none;
    padding-left: 0px;
    padding-top: 10px;
    top: 14px;
    background-color: var(--off-white);
    width: 260px;
    box-shadow: 3px 3px 6px rgb(0, 0, 0, .20);
    display: none;
    z-index: 1;
    max-height: 600px;
    overflow-y: auto;
}
.skip-dropdown:hover .skip-submenu {
    display: block;
}
.skip-dropdown:hover .skip-btn {
    background-color: var(--off-white);
}
.skip-submenu-item button {
    padding: 5px 10px 5px 10px;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    max-height: 60px;
    overflow: hidden;
}
.skip-submenu-item button:hover {
    background: var(--transparent-orange);
}
.skip-submenu-item button:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--dark-orange);
}
.skip-submenu-item button:active {
    background: var(--dark-orange);
}
.skipdetails-section {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}
.branching-btn {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    margin: 5px;
}
.branching-btn:hover {
    background-color: var(--off-white);
}
.branching-btn:active {
    background-color: #E1E1E2;
}
.branching-modal-content {
    margin: auto;
    display: grid;
    width: 900px;
    height: 300px;
    margin-top: 250px;
    grid-template-columns: 75px 1fr;
    position: relative;
}
.closebranchingbtn {
    border-radius: 50%;
    background-color: white;
    border: none;
    height: 65px;
    width: 65px;
    outline: none;
    transition: all .1s ease-in-out;
}
.closebranchingbtn:hover {
    border: solid 2px var(--purple-main);
}
.closebranchingbtn:active {
    transform: scale(.85);
}
.branch-editor {
    width: 825px;
    height: 300px;
    background-color: var(--dark-grey);
    border: 5px solid var(--purple-off);
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
}
.branch-edit-title {
    color: var(--purple-grey);
    font-family: var(--mont-font);
    font-size: 22px;
    font-weight: bold;
}
.branchconditions {
    width: 100%;
    border-spacing: 0px 0px;
    border-collapse: collapse;
    margin-top: 5px;
}
.branch-header-row {
    color: var(--purple-grey);
    font-family: var(--secondary-font);
    font-size: 16px;
    text-transform: uppercase;
}
.branchdescription-column {
    width: 60%;
}
.branchaction-column {
    width: 10%;
    text-align: center;
}
.branchresult-column {
    width: 25%;
    text-align: center;
}
.branchremove-column {
    width: 5%;
}
.branching-data-row button {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 5px 0px 5px 0px;
    outline: none;
    color: var(--purple-grey);
    font-family: var(--secondary-font);
    font-size: 16px;
}
.branching-condition-btn {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 28px;
}
.branching-condition-btn:hover {
    background-color: var(--transparent-orange);
}
.branching-condition-btn:active {
    background-color: var(--dark-orange);
}
.branching-action-dropdown {
/*    position: relative;*/
    display: grid;
    margin: 0px;
}
.branching-action-btn {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    padding-left: 10px;
}
.branching-action-submenu {
    position: absolute;
    list-style: none;
    padding-left: 0px;
    padding-top: 10px;
    top: 8px;
    background-color: var(--white);
    width: 141px;
    box-shadow: 3px 3px 6px rgb(0, 0, 0, .20);
    display: none;
    z-index: 1;
}
.branching-action-dropdown:hover .branching-action-submenu {
    display: block;
}
.branching-action-dropdown:hover .branching-action-btn {
    background-color: var(--white);
}
.branching-submenu-item button {
    padding: 5px 10px 5px 10px;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
}
.branching-submenu-item button:hover {
    background: var(--transparent-orange);
}
.branching-submenu-item button:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--dark-orange);
}
.branching-submenu-item button:active {
    background: var(--dark-orange);
}
.branchingskip-dropdown {
    /*position: relative;*/
    display: grid;
    margin: 5px 5px 5px 5px;
}
.branchingskip-btn {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 29px;
}
.branchingskip-submenu {
    position: absolute;
    list-style: none;
    padding-left: 0px;
    padding-top: 10px;
    top: 8px;
    background-color: var(--white);
    width: 260px;
    box-shadow: 3px 3px 6px rgb(0, 0, 0, .20);
    display: none;
    z-index: 1;
    max-height: 450px;
    overflow-y: auto;
}
.branchingskip-dropdown:hover .branchingskip-submenu {
    display: block;
}
.branchingskip-dropdown:hover .branchingskip-btn {
    background-color: var(--white);
}
.branchingskip-submenu-item button {
    padding: 5px 10px 5px 10px;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    max-height: 60px;
    overflow: hidden;
}
.branchingskip-submenu-item button:hover {
    background: var(--transparent-orange);
}
.branchingskip-submenu-item button:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--dark-orange);
}
.branchingskip-submenu-item button:active {
    background: var(--dark-orange);
}
.branching-remove-btn img {
    vertical-align: top;
    margin-top: 7px;
}
.branching-remove-btn:hover {
    background-color: var(--transparent-orange);
    border-radius: 20px;
}
.branching-remove-btn:active {
    background-color: var(--dark-orange);
    border-radius: 20px;
}
.result-dropdown {
    /*position: relative;*/
    display: grid;
    margin: 5px 5px 5px 5px;
}
.branching-result-btn {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.branching-calllist-submenu {
    position: absolute;
    list-style: none;
    padding-left: 0px;
    padding-top: 10px;
    top: 8px;
    background-color: var(--white);
    width: 194px;
    box-shadow: 3px 3px 6px rgb(0, 0, 0, .20);
    display: none;
    z-index: 1;
    overflow: visible !important;
}
.btnfx {
    margin: -5px 0;
}
.result-dropdown:hover .branching-calllist-submenu {
    display: block;
}
.result-dropdown:hover .branching-result-btn {
    background-color: var(--white);
}
.calllist-submenu-item button {
    padding: 5px 10px 5px 28px;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
}
.calllist-submenu-item button:hover {
    background: var(--transparent-orange);
}
.calllist-submenu-item button:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--dark-orange);
}
.calllist-submenu-item button:active {
    background: var(--dark-orange);
}
.resultcheckbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px 10px 5px 35px;
    width: calc(100% - 45px);
    text-overflow: ellipsis;
}
.resultcheckbox:hover {
    background-color: var(--transparent-orange);
}
.resultcheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.resultheckmark {
    position: absolute;
    top: 6px;
    left: 10px;
    height: 15px;
    width: 15px;
    background-color: none;
    border: 1px solid var(--purple-grey);
}
.resultcheckbox input:checked ~ .resultheckmark {
    background-color: none;
}
.resultheckmark:after {
    content: "";
    position: absolute;
    display: none;
}
.resultcheckbox input:checked ~ .resultheckmark:after {
    display: block;
}
.resultcheckbox .resultheckmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid var(--purple-grey);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.newconditionlabel {
    color: var(--purple-grey);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 5px 15px 5px 15px;
    margin-top: 5px;
}
.newconditionlabel:hover {
    background-color: var(--transparent-orange);
}
.newconditionlabel:active {
    background-color: var(--dark-orange);
}
.condition-edit-title {
    color: var(--purple-grey);
    font-family: var(--mont-font);
    font-size: 22px;
    font-weight: bold;
    display: grid;
    grid-template-columns: fit-content(100px) fit-content(100px) 1fr fit-content(50px) fit-content(50px);
    column-gap: 5px;
}
.conditon_cb {
    width: 80px;
}
.conditionlist {
    width: 100%;
    margin: 10px 0px 0px 0px;
    list-style: none;
    padding: 0;
}
.conditionitems {
    display: grid;
    grid-template-columns: 1fr fit-content(50px) 1fr fit-content(50px);
    column-gap: 3px;
}
.conditionitems-notlast {
    margin-bottom: 3px;
}
.condition-select-icon {
    position: absolute;
    right: 5px;
    top: 6px;
}
.condition-equals-column {
    font-weight: bold;
    font-family: var(--secondary-font);
    font-size: 22px;
    color: var(--purple-grey);
}
.condition-btn {
    background-color: transparent;
    border-radius: 15px;
    border: none;
    outline: none;
    user-select: none;
    padding-top: 4px;
}
.condition-btn:hover {
    background-color: var(--transparent-orange);
}
.condition-btn:active {
    background-color: var(--dark-orange);
}
.removebtnadjust {
    margin-bottom: 4px;
}
.conditionadditionlist {
    margin-left: 15px;
    padding: 0;
    list-style: none;
}
.newconditionnest-title {
    display: grid;
    grid-template-columns: fit-content(200px) 1fr fit-content(50px) fit-content(50px) fit-content(50px);
    column-gap: 5px;
    font-family: var(--secondary-font);
    font-size: 22px;
    color: var(--purple-grey);
}
.conditionadditionsublist {
    margin-left: 15px;
    margin-top: 0px;
    padding: 0;
    list-style: none;
}
.mergefield_btn {
    background: none;
    border: none;
    outline: none;
    height: 32px;
    width: 32px;
    border-radius: 5px;
}
.mergefield_btn:hover {
    background-color: #6c757d;
    color: white;
}
.mergefield_btn:active {
    background-color: #4c5259
}
.merge-dropdown {
    position: relative;
    display: grid;
    margin: 5px 5px 5px 5px;
}
.merge_btn {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: var(--secondary-font);
    font-size: 14px;
    height: 32px;
    border-radius:5px 5px 0px 0px;
}
.merge-submenu {
    position: absolute;
    list-style: none;
    padding-left: 0px;
    padding-top: 10px;
    top: 20px;
    background-color: var(--off-white);
    width: 260px;
    box-shadow: 3px 3px 6px rgb(0, 0, 0, .20);
    display: none;
    z-index: 1;
    max-height: 190px;
    overflow-y: auto;
}
.merge-dropdown:hover .merge-submenu {
    display: block;
}
.merge-dropdown:hover .merge_btn {
    color: white;
    background-color: #6c757d;
}
.merge-submenu-item button {
    display: block;
    padding: 5px 10px 5px 10px;
    font-family: var(--secondary-font);
    font-size: 14px;
    color: var(--purple-grey);
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    max-height: 60px;
    overflow: hidden;
}
.merge-submenu-item button:hover {
    background: var(--transparent-orange);
}
.merge-submenu-item button:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--dark-orange);
}
.merge-submenu-item button:active {
    background: var(--dark-orange);
}
.modal-testscript {
    margin: auto;
    display: grid;
    width: 925px;
    height: 600px;
    margin-top: 120px;
    grid-template-columns: 75px 1fr;
}
.callscript-test {
    background-color: var(--panelbackgroundcolor);
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-rows: 30px 1px 1fr fit-content(500px);
    overflow-y: auto;
}
.callscript-middlesection {
    grid-row: 3/4;
}
.callscript-scriptlanguage {
    padding: 5px 0px;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    margin-top: -15px;
}
.callscript-datacollection {
}
.callscript-bottombuttons {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
}
.callscript-middlebuttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 7px;
}
.callscript-middlebuttons button {
    width: 148px;
    height: 50px;
    margin: 3px;
    border: 1px solid var(--purple-main);
    border-radius: 5px;
    background: none;
    outline: none;
    color: var(--purple-main);
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 18px;
}
.callscript-edgebuttons {
    background-color: var(--purple-main);
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 18px;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 5px;
    align-self: center;
}
.callscript-edgebuttons:hover {
    background-color: #7764cabb;
}
.callscript-edgebuttons:active {
    background-color: var(--purple-off);
}
.callscript-middlebuttons button:hover {
    background: var(--transparent-orange);
}
.callscript-middlebuttons button:active {
    background: var(--dark-orange);
}
.callscript-input {
    padding: 5px;
    border: none;
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--purple-grey);
    text-overflow: ellipsis;
    width: calc(100% - 10px);
}
.callscript-input:focus {
    outline: 2px solid rgb(119, 100, 202, .3);
}
.samplescript_mc {
    display: grid;
    grid-auto-rows: auto;
    justify-content: left;
}
.customcheckbox-ss-mc {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 25px;
    font-family: var(--secondary-font);
    color: var(--purple-grey);
    margin-top: 5px;
}
.customcheckbox-ss-mc input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.customcheckmark-ss-mc {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: none;
    border: 2px solid var(--purple-grey);
}
.customcheckbox-ss-mc input:disabled ~ .customcheckmark-ss-mc {
    background-color: #d3d3d4;
}
.customcheckbox-ss-mc input:checked ~ .customcheckmark-ss-mc {
    background-color: none;
}
.customcheckmark-ss-mc:after {
    content: "";
    position: absolute;
    display: none;
}
.customcheckbox-ss-mc input:checked ~ .customcheckmark-ss-mc:after {
    display: block;
}
.customcheckbox-ss-mc .customcheckmark-ss-mc:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid var(--purple-grey);
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.callend-modal-content {
    margin: auto;
    display: grid;
    width: 450px;
    height: 450px;
    margin-top: 200px;
    grid-template-columns: 75px 1fr;
    position: relative;
}
.closecallendbtn {
    border-radius: 50%;
    background-color: white;
    border: none;
    height: 65px;
    width: 65px;
    outline: none;
    transition: all .1s ease-in-out;
}
.closecallendbtn:hover {
    border: solid 2px var(--purple-main);
}
.closecallendbtn:active {
    transform: scale(.85);
}
.closecall-editor {
    width: 375px;
    height: 450px;
    background-color: var(--dark-grey);
    border: 5px solid var(--purple-off);
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
}
.modal-saveas {
    margin: auto;
    display: grid;
    width: 420px;
    height: 400px;
    margin-top: 200px;
    grid-template-columns: 75px 1fr;
}
.saveas-editor {
    background-color: var(--panelbackgroundcolor);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-rows: 30px 1px 250px 1fr;
}
.export-section {
    margin-top: 5px;
}
.export-section-header {
    Font-family: var(--secondary-font);
    color: var(--purple-grey);
    font-weight: bold;
    font-size: 22px;
}
.export-option-title {
    Font-family: var(--secondary-font);
    color: var(--purple-grey);
    font-size: 18px;
    margin-top: 5px;
}
.export-input {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--purple-grey);
    margin-top: 5px;
    padding: 5px;
}
.export-btn {
    display: block;
    background-color: var(--purple-main);
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 18px;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    align-self: center;
    margin-top: 10px;
}
.export-btn:hover {
    background-color: #7764cabb;
}
.export-btn:active {
    background-color: var(--purple-off);
}
.exportoptionbox {
    position: relative;
    width: 100px;
    margin-bottom: 10px;
}
.exportselect-icon {
    position: absolute;
    right: 5px;
    top: 5px;
}

.modal-dbfields {
    margin: auto;
    display: grid;
    width: 875px;
    height: 750px;
    margin-top: 120px;
    grid-template-columns: 75px 1fr;
}
.modal-dbfield-choices {
    margin: auto;
    display: grid;
    width: 675px;
    height: 300px;
    margin-top: 180px;
    grid-template-columns: 75px 1fr;
}
.dbf-abr-column {
    width: 25%;
}
.dbf-desc-column {
    width: 50%;
}
.dbf-choices-column {
    width: 25%;
}
.dbf-remove-column {
    width: 5%;
}
.choices-editor {
    background-color: var(--dark-grey);
    border: 5px solid var(--purple-off);
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 30px 1fr;
}
.dbf-choices-edit-text {
    margin-top: 5px;
    border: none;
    padding: 5px;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    resize: none;
}
.dbf-choices-edit-text:focus {
    outline: 2px solid rgb(119, 100, 202, .3);
}
.choices-btn {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--purple-grey);
    margin: 5px;
    width: 100%;
    max-height: 40px; 
    overflow-y:hidden;
}
.choices-btn:hover {
    background-color: var(--off-white);
}
.choices-btn:active {
    background-color: #E1E1E2;
}

.modal-fieldchoices-set {
    margin: auto;
    display: grid;
    width: 875px;
    height: 300px;
    margin-top: 150px;
    grid-template-columns: 75px 1fr;
}
.fieldchoices-set {
    background-color: var(--dark-grey);
    border: 5px solid var(--purple-off);
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
    display: grid;
    grid-template-rows: fit-content(100px) 1fr;
}
.setfieldlist {
    width: 100%;
    margin: 10px 0px 0px 0px;
    list-style: none;
    padding: 0;
}
.fieldvarnamestyle {
    font-weight: bold;
    font-family: var(--secondary-font);
    font-size: 22px;
    color: var(--purple-grey);
}

.fieldvarnameitems {
    display: grid;
    grid-template-columns: fit-content(300px) fit-content(50px) 1fr;
    column-gap: 3px;
}
